*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3f6f3;
    padding: 20px 80px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 06);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-list nav ul{
    display: flex;
}

.header-list nav ul li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

.header-list nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

.header-list nav ul a:hover,
.header-list nav ul a.active{
    color: #0a6963;
}

.header-list-icon a{ 
    color: #1a1a1a;
    transition: 0.3 ease;
    padding-left: 20px;
}
.header-list-icon a:hover{
    color: #0a6963;
    
}

.header-logo img{
    width: 60px;
    height: 50px;
}

.header-list nav ul a:hover::after,
.header-list nav ul a.active::after{
    content: "";
    width: 20px;
    height: 2px;
    background: #0a6963;
    position: absolute;
    bottom: -4px;
    left: 20px;
}